<!DOCTYPE html>
<html xml:lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" http-equiv="Content-Type" />
    <!-- jQuery Mobile -->
    <link rel="stylesheet" type="text/css" href="../../jquery-mobile-theme-141633-0/themes/jquery.mobile.icons.min.css">
    <link rel="stylesheet" type="text/css" href="../../jquery-mobile-theme-141633-0/themes/oclock_theme.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../../scripts/jquery.mobile-1.4.5.min.js"></script>
    <!--<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
    <script src="../../scripts/menu.js"></script>
    <script>
        var loaded = false;

        $(document).on("pagecreate", function () {
            if (!loaded) {
                Limpiar();
                loaded = true;
            }
        });

        function Limpiar() {

            //Limpiar formulario
            $("#set").append("").collapsibleset("refresh");

            //Cargar Traslados
            CargarTraslados();

            //Cargar Mensajeros
            CargarMensajeros();

            //Limpiar Popups
            var popupTrasladarForm = $(".popupTrasladarForm");
            var popupTrasladarSatisfactorio = $(".popupTrasladarSatisfactorio");
            var popupTrasladarError = $(".popupTrasladarError");
            popupTrasladarForm.attr("style", "display: inline");
            popupTrasladarSatisfactorio.attr("style", "display: none");
            popupTrasladarError.attr("style", "display: none");

            //Limpiar variables
            localStorage.setItem("TramiteId", 0);
        }

        function Atras() {
            window.location.replace("index_admin.html");
        }

        function SetTramiteId(id) {
            localStorage.setItem("TramiteId", id);
        }

    </script>
    <script src="../../scripts/admin/cargar_traslados.js"></script>
    <script src="../../scripts/admin/cargar_mensajeros.js"></script>
    <script src="../../scripts/admin/trasladar_tramite.js"></script>
</head>
<body>
    <div data-role="page" id="inicio">

        <!--Header-->
        <div data-role="header" data-theme="a" data-position="fixed">
            <h1>Traslados</h1>
            <a href="#" onclick="Atras()" data-icon="back" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Back</a>
            <a href="#" data-icon="refresh" data-iconpos="notext" data-shadow="false" data-iconshadow="false" onclick="CargarTraslados()" data-transition="slidedown">Refresh</a>
        </div>

        <!--Content-->
        <div role="main" class="ui-content">
            <div class="content" id="content">
                <div data-role="content">
                    <form id="formulario">
                        <div data-role="collapsible-set" data-content-theme="a" data-iconpos="right" id="set">

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Popup Mensajero-->
        <div data-role="popup" id="popupTrasladar" data-dismissible="false">
            <div class="popupTrasladarForm" style="display: inline">
                <form>
                    <ul data-role="listview" data-inset="true" style="min-width: 210px;" data-content-theme="a">
                        <li data-role="list-divider">Seleccione una opción</li>
                        <li id="setpopupMensajeros"></li>
                        <!--<li><a href="#" data-rel="back"><button type="button" data-icon="delete" data-iconpos="left" data-mini="true" data-inline="true" class="ui-btn ui-btn-icon-carat-r" onclick="Limpiar()">Cerrar</button></a></li>-->
                        <li>
                            <div style="padding: 5px 10px;">
                                <a href="#" data-rel="back" onclick="Limpiar()" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-left">Cerrar</a>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="popupTrasladarSatisfactorio" style="display: none">
                <form>
                    <div style="padding: 10px;">
                        <label for="lblmensaje">Traslado realizado con éxito</label>
                        <a href="#" data-rel="back" onclick="Limpiar()" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-left">Cerrar</a>
                    </div>
                </form>
            </div>
            <div class="popupTrasladarError" style="display: none">
                <form>
                    <div style="padding: 10px;">
                        <label>Se ha producido un error inesperado. Vuelve a intentarlo más tarde.</label>
                        <a href="#" data-rel="back" onclick="Limpiar()" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-left">Cerrar</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>
</html>
